<div class="container-fixed-lg pt-3">
    <form role="form" #form="ngForm" (ngSubmit)="submitData(form)">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-12">
                        <pgcard MinimalHeader="true" Toggle="false">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group border-blue" [ngClass]="{'errors-submit': !entity.identificationNumber}">
                                        <label>{{'An identification number' | translate}}</label>
                                        <div class="input-group border-blue">
                                            <input type="text" placeholder="{{'An identification number' | translate}}"
                                                class="form-control" name="identificationNumber"
                                                [(ngModel)]="entity.identificationNumber" required>
                                        </div>
                                        <span
                                            class="help fs-10">{{'Identification number, e.g. UNP or state identification number' | translate}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group border-blue" [ngClass]="{'errors-submit': !entity.identificationScheme}">
                                        <label>{{'Identification scheme' | translate}}</label>
                                        <div class="input-group border-blue">
                                            <input type="text" placeholder="{{'Identification scheme' | translate}}"
                                                class="form-control" name="identificationScheme"
                                                [(ngModel)]="entity.identificationScheme" required>
                                        </div>
                                        <span
                                            class="help fs-10">{{'Identification scheme in accordance with ISO6523' | translate}}</span>
                                    </div>
                                </div>
                            </div>
                        </pgcard>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <pgcard MinimalHeader="true" Toggle="false">
                    <ng-template #CardTitle>
                        <div class="row">
                            <div class="col-md-7">
                                <button type="submit" class="btn btn-primary btn-xs form-save">
                                    {{'form.save' | translate}}
                                </button>
                            </div>
                            <div class="col-md-5">
                                <a routerLink="/contacts" class="link-button">
                                    <button type="button" class="btn btn-white btn-xs mr-1 form-cancel">
                                        {{'form.cancel' | translate}}
                                    </button>
                                </a>
                            </div>
                        </div>
                    </ng-template>
                </pgcard>
            </div>
        </div>
    </form>
</div>