<div class="jumbotron no-margin" style="height: 100px;">
    <div class="sm-p-l-0 sm-p-r-0">
        <div class="inner" pg-parallax="">
            <div class="container-fluid sm-p-l-0 sm-p-r-0">
                <br>
                <div>
                    <span class="config-nav-route-first" style="padding-right: 34px;">{{'account' | translate}}</span>
                    <svg style="margin-top: -8px;" width="9" height="15" viewBox="0 0 9 15" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M-5.74444e-07 1.85825L5.42578 7.5L-8.12264e-08 13.1418L1.78711 15L9 7.5L1.78711 -7.8117e-08L-5.74444e-07 1.85825Z"
                            fill="black" fill-opacity="0.2" />
                    </svg>
                    <span class="config-nav-route-second" style="padding-left: 34px;">{{'VatClasses' | translate}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-2.5">
        <app-configuration-menu></app-configuration-menu>
    </div>
    <div style="width: 21px;"></div>
    <div class="col">
        <pgcard MinimalHeader="true" HeaderClass="separator">
            <ng-template #CardTitle>
                <div style="display: -webkit-inline-box;">
                    <button class="btn btn-white btn-xs form-save" (click)="onEditRowModal()">
                        {{'form.add' | translate}}
                        <i class="fa fa-plus"></i>
                    </button>
                    <a *ngIf="canAction" (click)="onEditRowModal(selected_entity.id)" class="link-button form-edit"
                        style="font-size: 12px;line-height: 37px;">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0 5.18993V6.9892H1.79928L6.77667 2.019L4.9774 0.219727L0 5.18993ZM0 8.78848H9.59614V9.98799H0V8.78848Z"
                                fill="#192D3E" />
                        </svg>
                        {{'form.edit' | translate}}

                    </a>
                    <a *ngIf="canAction" (click)="changeRemoveArrayMode()" class="link-button form-delete"
                        style="line-height: 37px;">
                        <svg width="10" height="12" viewBox="0 0 10 12" fill="none" style="margin-top: -4px;"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.66667 3.66669C1.35944 3.66669 1.11111 3.66669 1.11111 3.66669V10.8889C1.11111 11.5022 1.60889 12 2.22222 12H7.77778C8.39111 12 8.88889 11.5022 8.88889 10.8889V3.66669C8.88889 3.66669 8.64056 3.66669 8.33333 3.66669H1.66667ZM7.56556 2.00003L6.66667 0.888916H3.33333L2.43444 2.00003H0V3.11114H2.77778H7.22222H10V2.00003H7.56556Z"
                                fill="#D66B5D" />
                        </svg>
                        <span style="margin-left: 11px;">{{'delete' | translate}}</span>
                    </a>
                </div>
                <div *ngIf="removeArrayMode">
                    <button class="btn btn-danger btn-xs mr-1" [disabled]="!canAction" (click)="onDeleteRows()">
                        <i class="fa fa-trash"></i> {{'Confirm' | translate}}
                    </button>
                    <button class="btn btn-white btn-xs mr-1" (click)="changeRemoveArrayMode()">
                        {{'form.cancel' | translate}}
                    </button>
                </div>
            </ng-template>

            <div class="pt-3">
                <jqxGrid #dataGrid [theme]="'metro'" [width]="'100%'" [autoheight]="true" [source]="source"
                    [columns]="tableSource.columns" [columnsresize]="true" [sortable]="true"
                    [autoshowfiltericon]="true" [enabletooltips]="false" [selectionmode]="selectMode"
                    [columnsreorder]="true" (onRowselect)="onRowSelect($event)"
                    (onRowdoubleclick)="onEditRowModal(selected_entity?.id)">
                </jqxGrid>
            </div>
        </pgcard>
    </div>
</div>

<div class="card card-transparent">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <pgcard MinimalHeader="true" HeaderClass="separator">
                    <ng-template #CardTitle>
                        <div *ngIf="!removeArrayMode">
                            <button class="btn btn-primary btn-xs mr-1" (click)="onEditRowModal()">
                                <i class="fa fa-plus"></i> {{'form.add' | translate}}
                            </button>
                            <button class="btn btn-info btn-xs mr-1" (click)="onEditRowModal(selected_entity.id)"
                                [disabled]="!canAction">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-info btn-xs mr-1" (click)="onCopyRow()" [disabled]="!canAction">
                                <i class="fa fa-copy"></i>
                            </button>
                            <button class="btn btn-danger btn-xs mr-1" (click)="changeRemoveArrayMode()">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div *ngIf="removeArrayMode">
                            <button class="btn btn-danger btn-xs mr-1" [disabled]="!canAction" (click)="onDeleteRows()">
                                <i class="fa fa-trash"></i> {{'Confirm' | translate}}
                            </button>
                            <button class="btn btn-white btn-xs mr-1" (click)="changeRemoveArrayMode()">
                                {{'form.cancel' | translate}}
                            </button>
                        </div>
                    </ng-template>

                    <div class="pt-3">
                        <jqxGrid #dataGrid [theme]="'metro'" [width]="'100%'" [autoheight]="true" [source]="source"
                            [columns]="tableSource.columns" [columnsresize]="true" [sortable]="true"
                            [autoshowfiltericon]="true" [enabletooltips]="false" [selectionmode]="selectMode"
                            [columnsreorder]="true" (onRowselect)="onRowSelect($event)"
                            (onRowdoubleclick)="onEditRowModal(selected_entity?.id)">
                        </jqxGrid>
                    </div>
                </pgcard>
            </div>
        </div>
    </div>
</div>

<!-- MODAL STICK UP  -->
<div bsModal #rowModal="bs-modal" class="modal fade stick-up" tabindex="-1" role="dialog" aria-labelledby="rowModal"
    [config]="{backdrop: 'static'}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix ">
                <button type="button" class="close" (click)="rowModal.hide()" aria-hidden="true">
                    <i class="pg pg-close fs-14"></i>
                </button>
                <h4 class="p-b-5"><span class="semi-bold">{{'view' | translate}}</span> {{'taxes' | translate}}</h4>
            </div>
            <form role="form" #form="ngForm" (ngSubmit)="onSubmit(form)">
                <input type="hidden" id="id" name="id" [(ngModel)]="entity.id">
                <div class="modal-body">
                    <p class="small-text">
                        {{ entity.id ? "Редактировать " : "Создать новый " }} {{'View' | translate}}
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" [class.has-error]="name.invalid && (name.dirty || name.touched)">
                                <label>{{'entity.name' | translate}}</label>
                                <input type="text" class="form-control" id="name" name="name"
                                    placeholder="{{'entity.name' | translate}}" [(ngModel)]="entity.name"
                                    #name="ngModel" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="add-app" type="submit" class="btn btn-xs btn-primary btn-cons"
                        [disabled]="form.invalid">
                        {{'form.save' | translate}}
                    </button>
                    <button type="button" class="btn btn-xs btn-cons" (click)="rowModal.hide()">
                        {{'form.cancel' | translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>