<div class="inner-content full-height page-content-wrapper scroll-vertical-hidden">

    <!-- HEADER -->
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron no-margin">
                <div class="container-fluid" style="margin-right: 20px;">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="inner" pg-parallax>
                                <h4>{{'shortagequantity' | translate}}</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="inner filter-search" pg-parallax>
                                <div class="input-group pl-2 pr-2 " style="padding-top: 16px;">
                                    <input class="form-control input-sm filter-search-input" [(ngModel)]="searchText"
                                        name="searchText" type="text" placeholder="Поиск...">
                                    <div class="input-group-append">
                                        <button type="button" class="filter-search-btn">
                                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M6.41471 12.8294C7.89491 12.8294 9.25563 12.3203 10.3413 11.4759L13.8662 15.0008L15 13.867L11.4751 10.3421C12.3203 9.25562 12.8294 7.89491 12.8294 6.41471C12.8294 2.8778 9.95162 0 6.41471 0C2.8778 0 0 2.8778 0 6.41471C0 9.95162 2.8778 12.8294 6.41471 12.8294ZM6.41471 1.60368C9.068 1.60368 11.2257 3.76143 11.2257 6.41471C11.2257 9.068 9.068 11.2257 6.41471 11.2257C3.76143 11.2257 1.60368 9.068 1.60368 6.41471C1.60368 3.76143 3.76143 1.60368 6.41471 1.60368Z"
                                                    fill="black" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-3.5">
                                    <div class="switch-widget-date">
                                        <ui-switch size="small" switchColor="#0038FF" uncheckedLabel="Период"
                                            checkedLabel="С/ ПО" (change)="onChangeWidjetPeriod($event)">
                                            <span style="font-size: 13px; " *ngIf="widjetSwitchPeriod">Период</span>
                                            <span style="font-size: 13px;" *ngIf="!widjetSwitchPeriod">С/ ПО</span>
                                        </ui-switch>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group date switch-widget-date-form" *ngIf="!widjetSwitchPeriod">
                                        <div class="input-group date" style="width: auto;">
                                            <pg-datepicker class="first-datepicker" [ngModel]="filterPeriod.fromDate"
                                                name="from" Placeholder="C" [Format]="'DD-MM-YYYY'"
                                                (ngModelChange)="filterPeriod.fromDate=$event;_startValueChange();onChangedFilterByPeriod()">
                                            </pg-datepicker>
                                            <div class="input-group-append">
                                                <svg width="15" height="17" viewBox="0 0 15 17" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M3.33325 7.5H4.99992V9.16667H3.33325V7.5ZM3.33325 10.8333H4.99992V12.5H3.33325V10.8333ZM6.66659 7.5H8.33325V9.16667H6.66659V7.5ZM6.66659 10.8333H8.33325V12.5H6.66659V10.8333ZM9.99992 7.5H11.6666V9.16667H9.99992V7.5ZM9.99992 10.8333H11.6666V12.5H9.99992V10.8333Z"
                                                        fill="#192D3E" fill-opacity="0.6" />
                                                    <path
                                                        d="M1.66667 16.6667H13.3333C14.2525 16.6667 15 15.9192 15 15V5V3.33333C15 2.41417 14.2525 1.66667 13.3333 1.66667H11.6667V0H10V1.66667H5V0H3.33333V1.66667H1.66667C0.7475 1.66667 0 2.41417 0 3.33333V5V15C0 15.9192 0.7475 16.6667 1.66667 16.6667ZM13.3333 5L13.3342 15H1.66667V5H13.3333Z"
                                                        fill="#192D3E" fill-opacity="0.6" /> </svg>
                                            </div>
                                        </div>
                                        <div class="input-group date" style="width: auto;">
                                            <pg-datepicker class="first-datepicker-ico" class="second-datepicker"
                                                Placeholder="ПО" [ngModel]="filterPeriod.toDate" name="to"
                                                [Format]="'DD-MM-YYYY'"
                                                (ngModelChange)="filterPeriod.toDate=$event;_startValueChange();onChangedFilterByPeriod()">
                                            </pg-datepicker>
                                            <div class="input-group-append">
                                                <svg width="15" height="17" viewBox="0 0 15 17" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M3.33325 7.5H4.99992V9.16667H3.33325V7.5ZM3.33325 10.8333H4.99992V12.5H3.33325V10.8333ZM6.66659 7.5H8.33325V9.16667H6.66659V7.5ZM6.66659 10.8333H8.33325V12.5H6.66659V10.8333ZM9.99992 7.5H11.6666V9.16667H9.99992V7.5ZM9.99992 10.8333H11.6666V12.5H9.99992V10.8333Z"
                                                        fill="#192D3E" fill-opacity="0.6" />
                                                    <path
                                                        d="M1.66667 16.6667H13.3333C14.2525 16.6667 15 15.9192 15 15V5V3.33333C15 2.41417 14.2525 1.66667 13.3333 1.66667H11.6667V0H10V1.66667H5V0H3.33333V1.66667H1.66667C0.7475 1.66667 0 2.41417 0 3.33333V5V15C0 15.9192 0.7475 16.6667 1.66667 16.6667ZM13.3333 5L13.3342 15H1.66667V5H13.3333Z"
                                                        fill="#192D3E" fill-opacity="0.6" /> </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-group switch-widget-select-period-form" role="group"
                                        aria-label="Basic example" *ngIf="widjetSwitchPeriod">
                                        <pg-select class="mb-1 duration-time" style="width: 100%;" name="durationTime"
                                            [(ngModel)]="filterPeriod.durationTime"
                                            (ngModelChange)="onChangedFilterByPeriod()" [PlaceHolder]="''"
                                            [FirstDefault]="true">
                                            <pg-option *ngFor="let unit of durationType | enumToArray"
                                                [Label]="unit | translate" [Value]="unit">
                                            </pg-option>
                                        </pg-select>
                                        <input *ngIf="filterPeriod.durationTime != 'today'" type="text"
                                            class="form-control duration-digit" name="duration"
                                            [(ngModel)]="filterPeriod.duration" placeholder="0" numbersOnly
                                            [minValue]="1" [maxValue]="30" (ngModelChange)="onChangedFilterByPeriod()">
                                        <pg-select *ngIf="filterPeriod.durationTime != 'today'" class="mb-1 time-unit"
                                            style="width: 100%;" name="timeUnit" [(ngModel)]="filterPeriod.timeUnit"
                                            (ngModelChange)="onChangedFilterByPeriod()" [PlaceHolder]="''"
                                            [FirstDefault]="true">
                                            <pg-option *ngFor="let unit of timeUnitExtend | enumToArray"
                                                [Label]="unit | translate" [Value]="unit">
                                            </pg-option>
                                        </pg-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="switch-widget">
                                <span class="switch-widget-title">Виджет</span>
                                <ui-switch uncheckedLabel="ВЫКЛ." checkedLabel="ВКЛ."
                                    (change)="onChangeWidjetSwitch($event)">
                                    <span *ngIf="widjetSwitchState">ВКЛ</span>
                                    <span *ngIf="!widjetSwitchState">ВЫКЛ.</span>
                                </ui-switch>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 25px;">
        <!-- CONTENT -->
        <div [ngClass]="{'col-md-9': widjetSwitchState, 'col-md-12': !widjetSwitchState}" style="padding-right: 10px;">
            <!-- GRID -->
            <div>
                <div class="container-fluid bg-white grid-controls-panel">
                    <div style="display: flex;margin-top: 14px;">
                        <button class="btn btn-xs btn-white ml-1 text-font" (click)="onShowCreateSublease()"
                            matTooltip="{{'subhires' | translate}}">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.8458 6.18994L6.4458 0.189901C6.2184 -0.0633004 5.7816 -0.0633004 5.5542 0.189901L0.154161 6.18994C-0.00483979 6.36574 -0.0444401 6.61894 0.0521605 6.83555C0.148161 7.05215 0.362963 7.19135 0.599964 7.19135H1.79997V11.3914C1.79997 11.7226 2.06817 11.9914 2.39998 11.9914H4.19999C4.53179 11.9914 4.79999 11.7226 4.79999 11.3914V8.99136H7.20001V11.3914C7.20001 11.7226 7.46821 11.9914 7.80001 11.9914H9.60002C9.93183 11.9914 10.2 11.7226 10.2 11.3914V7.19135H11.4C11.637 7.19135 11.8518 7.05215 11.9478 6.83555C12.0444 6.61894 12.0048 6.36634 11.8458 6.18994Z"
                                    fill="#192D3E" />
                            </svg>
                            {{'subhires' | translate}}
                        </button>
                        <button class="btn btn-xs btn-white ml-1 text-font" [disabled]="!canAction"
                            (click)="redirectToProject()" matTooltip="{{'Open project' | translate}}">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.2 11.9999H8.4C9.0624 11.9999 9.6 11.4623 9.6 10.7999V3.5999C9.6 2.9375 9.0624 2.3999 8.4 2.3999H1.2C0.5376 2.3999 0 2.9375 0 3.5999V10.7999C0 11.4623 0.5376 11.9999 1.2 11.9999Z"
                                    fill="#192D3E" />
                                <path
                                    d="M10.8001 0H3.6001V1.2H10.8001V8.4H12.0001V1.2C12.0001 0.5382 11.4619 0 10.8001 0Z"
                                    fill="#192D3E" />
                            </svg>
                            {{'Open project' | translate}}
                        </button>
                    </div>
                </div>
                <div class="jqx-widget-child-container">
                    <jqxTreeGrid #treeGrid [theme]="'metro'" [localization]="localization" [width]="'100%'"
                        [height]="'800px'" [source]="source" [selectionMode]="selectMode" [columns]="tableSource.columns"
                        [sortable]="true" [scrollBarSize]="7" (onRowSelect)="onShortageRowSelect($event)"
                        [columnsResize]="true" [columnsReorder]="true" [hierarchicalCheckboxes]="true"
                        [checkboxes]="true">
                    </jqxTreeGrid>
                </div>
            </div>
        </div>
        <!-- DETAILS PANEL -->
        <div *ngIf="widjetSwitchState" class="col-md-3" style="padding-left: 10px;">
            <div class="widget-info">
                <div perfectScrollbar>
                    <div *ngFor="let infoBlock of shortageInfo">
                        <pgcard Controls="false" Type="transparent" HeaderClass="separator" AdditionalClasses="mb-0">
                            <ng-template #CardTitle>
                                {{infoBlock.entity | translate}}
                            </ng-template>
                            <div class="pt-2">
                                <div *ngFor="let item of infoBlock.data">
                                    <span class="small"><span
                                            class="font-weight-bold">{{item.key.toLowerCase() | translate}}:</span>
                                        {{item.value}}</span>
                                </div>
                            </div>
                        </pgcard>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SUBLEASE MODAL -->
<div bsModal #rowModal="bs-modal" class="modal fade stick-up" tabindex="-1" role="dialog" aria-labelledby="rowModal"
    [config]="{backdrop: 'static'}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clearfix ">
                <button type="button" class="close" (click)="rowModal.hide()" aria-hidden="true">
                    <i class="pg pg-close fs-14"></i>
                </button>
                <h4 class="p-b-5"><span class="semi-bold">{{'subhires' | translate}}</span></h4>
            </div>
            <input type="hidden" id="id" name="id" [(ngModel)]="entity.id">
            <div class="modal-body">
                <p class="small-text">
                    {{'Existing sublease works for this period:' | translate}}
                    {{sublease.dateFrom | date: 'dd/MM/yyyy'}} - {{sublease.dateTo | date: 'dd/MM/yyyy'}}
                </p>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="p-1" style="width: 40px;"></th>
                                <th class="fs-9 p-1">{{'firstname' | translate}}</th>
                                <th class="fs-9 p-1">{{'suppliercontactcompany' | translate}}</th>
                                <th class="fs-9 p-1">{{'status' | translate}}</th>
                                <th class="fs-9 p-1">{{'Plan with' | translate}}</th>
                                <th class="fs-9 p-1">{{'Plan to' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="sublease.subhires?.length == 0">
                                <td colspan="6" class="v-align-middle text-center fs-12">
                                    {{'There is no data' | translate}}</td>
                            </tr>
                            <tr *ngFor="let item of sublease.subhires; let i = index;">
                                <td class="v-align-middle pl-1 p-2">
                                    <div class="checkbox check-primary text-center">
                                        <input type="checkbox" value="" id="checkbox_{{item.id}}"
                                            [(ngModel)]="item.check" (change)="onCheckedSublease($event, i)">
                                        <label for="checkbox_{{item.id}}" class="no-padding no-margin"></label>
                                    </div>
                                </td>
                                <td class="v-align-middle pl-1 fs-12 p-2">
                                    <span>{{item.name}}</span>
                                </td>
                                <td class="v-align-middle pl-1 fs-12 p-2">
                                    <span>{{item.supplierName}}</span>
                                </td>
                                <td class="v-align-middle pl-1 fs-12 p-2">
                                    <span>{{item.status}}</span>
                                </td>
                                <td class="v-align-middle pl-1 fs-12 p-2">
                                    <span>{{item.planningPeriodStart | date: 'dd-MM-yyyy' }}</span>
                                </td>
                                <td class="v-align-middle pl-1 fs-12 p-2">
                                    <span>{{item.planningPeriodEnd | date: 'dd-MM-yyyy'}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-info btn-cons" (click)="createSublease()">
                    {{'New sublease' | translate}}
                </button>
                <button type="button" class="btn btn-xs btn-primary btn-cons" (click)="createSublease(true)"
                    [disabled]="!canAcceptSublease">
                    {{'Confirm' | translate}}
                </button>
                <button type="button" class="btn btn-xs btn-cons" (click)="rowModal.hide()">
                    {{'form.cancel' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>