<div class="jumbotron no-margin" style="height: 48px;">
    <div class="container-fluidcontainer-fixed-lg sm-p-l-0 sm-p-r-0">
        <div class="inner" pg-parallax="">
            <div class="container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/projects">{{ 'Projects' | translate }}</a></li>
                    <li *ngIf="!label" class="breadcrumb-item active">
                        {{(id ? "form.edit" : "form.create") | translate }} {{'plan' | translate}}</li>
                    <li *ngIf="label" class="breadcrumb-item active">{{label | translate}}</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="route-top-tabs">
    <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let tab of tabs" [routerLink]="[tab]" routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive" (click)="label = tab">
            {{ tab | translate}}
        </a>
    </nav>
</div>

<router-outlet></router-outlet>