<pgcard Controls="false" Type="transparent" HeaderClass="separator" AdditionalClasses="mb-0">
    <ng-template #CardTitle>
        Задачи
    </ng-template>
    <div class="pt-2">
        <ul class="list-unstyled mb-0 filter-form-notes">
            <li *ngFor="let task of data; let i = index" class="small pt-2 pb-2"
                style="border-bottom: 0.5px dashed #d1d1d1;">
                <svg style="float: left;" (click)="editTask(task.id)" width="10" height="12" viewBox="0 0 10 12" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.19714 0L8.99654 1.79946L7.625 3.17095L5.8256 1.37149L7.19714 0Z" fill="#192D3E"
                        fill-opacity="0.5" />
                    <path
                        d="M0 7.18993V8.9892H1.79928L6.77667 4.019L4.9774 2.21973L0 7.18993ZM0 10.7885H9.59614V11.988H0V10.7885Z"
                        fill="#192D3E" fill-opacity="0.5" />
                </svg>

                <div class="task-container">
                    <span [style.text-decoration]="task.completedIn ? 'line-through' : 'none'">
                        {{task.name}}
                    </span>
                    <span *ngIf="task.author" class="hint fs-10">Автор: {{ task.author }}</span>
                    <span *ngIf="task.completedIn && task.completedBy" class="hint fs-10">Завершено:
                        {{ task.completedBy }}</span>
                    <div [style.color]="!task.completedIn && task.expiredTime ? '#d95165' : 'none'" class="hint fs-10">
                        <!-- <button *ngIf="!task.completedIn" class="btn btn-link no-padding" (click)="onCloseTask(task)"><i
                                class="fa fa-check"></i></button> -->
                        <span *ngIf="task.completedIn" class="no-padding"><i class="fa fa-check"></i></span>
                        Крайний срок: {{task.deadLine | date:'dd.MM.yyyy HH:mm' }}
                    </div>
                </div>
            </li>
        </ul>

        <div *ngIf="data" class="text-right mt-2 filter-form-controls-notes">
            <button class="btn btn-xs btn-white" (click)="editTask()">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M1.55556 14H12.4444C13.3031 14 14 13.3031 14 12.4444V1.55556C14 0.696889 13.3031 0 12.4444 0H1.55556C0.696889 0 0 0.696889 0 1.55556V12.4444C0 13.3031 0.696889 14 1.55556 14ZM3.11111 6.22222H6.22222V3.11111H7.77778V6.22222H10.8889V7.77778H7.77778V10.8889H6.22222V7.77778H3.11111V6.22222Z"
                        fill="#192D3E" fill-opacity="0.8" />
                </svg>
                <span>{{'form.add' | translate}}</span>
            </button>
        </div>
    </div>
</pgcard>

<!-- MODAL TASK  -->
<div bsModal #taskModal="bs-modal" class="modal fade stick-up" tabindex="-1" role="dialog" aria-labelledby="rowModal"
    [config]="{backdrop: 'static'}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix ">
                <button type="button" class="close" (click)="taskModal.hide()" aria-hidden="true">
                    <i class="pg pg-close fs-14"></i>
                </button>
                <h4 class="p-b-5"><span class="semi-bold">Задача</span></h4>
            </div>
            <form role="form" #formTask="ngForm" (ngSubmit)="onSubmitTask(formTask)">
                <input type="hidden" id="id" name="id" [(ngModel)]="task.id">
                <input type="hidden" id="crewMemberId" name="crewMemberId" [(ngModel)]="entityId">
                <div class="modal-body">
                    <p class="small-text">
                        {{ task.id ? "Редактировать " : "Создать новую " }} задачу
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" [class.has-error]="name.invalid && (name.dirty || name.touched)">
                                <label>Задача</label>
                                <input type="text" class="form-control" name="name" placeholder="Наименование задачи"
                                    [(ngModel)]="task.name" #name="ngModel" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Крайний срок</label>
                                <div class="input-group date">
                                    <pg-datepicker name="deadLine" [(ngModel)]="task.deadLine" [ShowTime]="true"
                                        [Format]="'DD-MM-YYYY HH:mm'" [Placeholder]="'Выберите дату...'">
                                    </pg-datepicker>
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <svg onclick="document.getElementsByName('deadLine')[0].getElementsByTagName('input')[0].click()"
                                            width="15" height="17" viewBox="0 0 15 17" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M3.33337 7.5H5.00004V9.16667H3.33337V7.5ZM3.33337 10.8333H5.00004V12.5H3.33337V10.8333ZM6.66671 7.5H8.33337V9.16667H6.66671V7.5ZM6.66671 10.8333H8.33337V12.5H6.66671V10.8333ZM10 7.5H11.6667V9.16667H10V7.5ZM10 10.8333H11.6667V12.5H10V10.8333Z"
                                                fill="black" fill-opacity="0.2" />
                                            <path
                                                d="M1.66667 16.6667H13.3333C14.2525 16.6667 15 15.9192 15 15V5V3.33333C15 2.41417 14.2525 1.66667 13.3333 1.66667H11.6667V0H10V1.66667H5V0H3.33333V1.66667H1.66667C0.7475 1.66667 0 2.41417 0 3.33333V5V15C0 15.9192 0.7475 16.6667 1.66667 16.6667ZM13.3333 5L13.3342 15H1.66667V5H13.3333Z"
                                                fill="black" fill-opacity="0.2" />
                                        </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="checkbox check-primary">
                                <input type="checkbox" id="isPublic" checked="checked" name="isPublic"
                                    [(ngModel)]="task.isPublic">
                                <label for="isPublic">
                                    Общественный
                                </label>
                            </div>

                            <div *ngIf="!task.isPublic"
                                class="form-group form-group-default form-group-default-select2">
                                <label>Персонал</label>
                                <pg-select style="width: 100%;" [Mode]="'multiple'" [PlaceHolder]="'Поиск...'"
                                    [Multiple]="true" [(ngModel)]="task.crewMembers" name="crewMembers"
                                    [NotFoundContent]="'Not found'" (keyup)="onChangeUserSearch($event)">
                                    <pg-option *ngFor="let u of users" [Label]="u.username" [Value]="u">
                                    </pg-option>
                                </pg-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{'entity.description' | translate}}</label>
                                <textarea rows="3" class="form-control" id="description" name="description"
                                    placeholder="..." [(ngModel)]="task.description" #text="ngModel">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-xs btn-primary btn-cons" [disabled]="formTask.invalid">
                        {{'form.save' | translate}}
                    </button>
                    <button type="button" class="btn btn-xs btn-cons" (click)="taskModal.hide()">
                        {{'form.cancel' | translate}}
                    </button>
                    <button *ngIf="task.id" type="button" class="btn text-danger btn-xs" (click)="deleteTask(task.id)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>