.text-session-page{
width: 259px;
height: 37px;
left: 1433px;
top: 146px;
font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 37px;
color: #192D3E;
}

.text-session-label{
    position: absolute;
    width: 40px;
    height: 15px;
    left: 1435px;
    top: 222px;
    
    /* Надстрочник поля ввода */
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    
    color: #192D3E;
    }