################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Prorent24.Common/obj
/Prorent24.Context/obj
/Prorent24.Entity/obj
/Prorent24.Entity/bin
/Prorent24.BLL/bin
/Prorent24.BLL/obj
/Prorent24.Common/bin
/Prorent24.Context/bin
/Prorent24.DAL/bin
/Prorent24.DAL/obj
/Prorent24.Data/bin
/Prorent24.Data/obj
/Prorent24.Enum/bin
/Prorent24.Enum/obj
/Prorent24.Identity/bin
/Prorent24.Identity/obj
/Prorent24.Workflow/bin
/Prorent24.Workflow/obj
/Prorent24.ViewModel/bin
/Prorent24.ViewModel/obj
/Prorent24.UnitOfWork/bin
/Prorent24.UnitOfWork/obj
/Prorent24.Test/bin
/Prorent24.Test/obj
/Prorent24.Context/Migrations
/Prorent24.WebApp/wwwroot/Documents
/Prorent24.AutomatedUITests/bin/Debug/netcoreapp2.2
/Prorent24.AutomatedUITests/obj
/Prorent24.App/node_modules
