<jqxGrid #dataGrid [theme]="'metro'" [localization]="localization" [width]="'100%'" [height]="'100%'" [source]="source"
    [columns]="tableSource.columns" [columnsresize]="true" [sortable]="true" [groupable]="true"
    [showgroupsheader]="false" [autoshowfiltericon]="true" [scrollbarsize]="7" [enabletooltips]="false" [selectionmode]="selectMode"
    (onRowselect)="onRowSelect($event); checkedRowsEvent();" (onRowunselect)="checkedRowsEvent()" (onRowdoubleclick)="doubleClickRowEvent(selected_entity)">
</jqxGrid>