<pgcard MinimalHeader="true" HeaderClass="separator">
    <ng-template #CardTitle>
        <div *ngIf="!removeArrayMode">
            <button class="btn btn-primary btn-xs mr-1" (click)="onEditRowModal()">
                <i class="fa fa-plus"></i> {{'form.add' | translate}}
            </button>
            <button class="btn btn-info btn-xs mr-1" (click)="onEditRowModal(selected_entity?.id)"
                [disabled]="!canAction">
                <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-danger btn-xs mr-1" (click)="changeRemoveArrayMode()">
                <i class="fa fa-trash"></i>
            </button>
        </div>
        <div *ngIf="removeArrayMode">
            <button class="btn btn-danger btn-xs mr-1" [disabled]="!canAction"
                    (click)="onDeleteRows()">
                <i class="fa fa-trash"></i> {{'Confirm' | translate}}
            </button>
            <button class="btn btn-white btn-xs mr-1" (click)="changeRemoveArrayMode()">
                {{'form.cancel' | translate}}
            </button>
        </div>
    </ng-template>

    <div class="pt-3 jqx-widget-child-container jqx-widget-child-container-config">
        <jqxGrid #dataGrid [theme]="'metro'" [localization]="localization" [width]="'100%'"
            [height]="'529px'" [rowsheight]="40" [source]="source" [columns]="tableSource.columns" [columnsresize]="true"
            [sortable]="true" [autoshowfiltericon]="true" [enabletooltips]="false"
            [selectionmode]="selectMode" (onRowselect)="onRowSelect($event)"
            (onRowdoubleclick)="onEditRowModal(selected_entity?.id)">
        </jqxGrid>
    </div>
</pgcard>

<!-- MODAL STICK UP  -->
<div bsModal #rowModal="bs-modal" class="modal fade stick-up" tabindex="-1" role="dialog" aria-labelledby="rowModal"
    [config]="{backdrop: 'static'}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix ">
                <button type="button" class="close" (click)="rowModal.hide()" aria-hidden="true">
                    <i class="pg pg-close fs-14"></i>
                </button>
                <h4 class="p-b-5"><span class="semi-bold">QR-код</span></h4>
            </div>
            <form role="form" #form="ngForm" (ngSubmit)="onSubmit(form)">
                <input type="hidden" id="id" name="id" [(ngModel)]="entity.id">
                <div class="modal-body">
                    <p class="small-text">
                        {{( entity.id ? "edit" : "Create fresh" ) | translate}} {{'qrcode' | translate}}
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" [class.has-error]="code.invalid && (code.dirty || code.touched)">
                                <label>{{'qrcode' | translate}}</label>
                                <input type="text" class="form-control" id="code" name="code" placeholder="{{'Enter code' | translate}}"
                                    [(ngModel)]="entity.code" #code="ngModel" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <qrcode *ngIf="entity.code" [qrdata]="entity.code" [size]="100" [level]="'M'"></qrcode>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-xs btn-primary btn-cons" [disabled]="form.invalid">
                        {{'form.save' | translate}}
                    </button>
                    <button type="button" class="btn btn-xs btn-cons" (click)="rowModal.hide()">
                        {{'form.cancel' | translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>